.addanothrchild_div{
    width: 30%;
    height:43vh;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
opacity: 1;
position: absolute;
}


/* button{
    height: 3.5rem;
    width: 20rem;
    background-color: rgb(245, 219, 241);
    border-radius: 1.5rem;
    border-color: rgb(245, 219, 241);
    font-size: 2rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 109, 109);
} */

.all_addAnotherChild{
    width:100%; 
    height:100%; 
    background: url('../image/backgroundYellow.png') top right;
    background-attachment:fixed;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.big{
    text-align: left;
    font: normal normal normal 45px/60px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;

}

.label_addAnotherChild{
    left: 50%;
    display: flex;
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 25%;
}

.addAnotherChild_logo{
    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 103px;
        height: 112px;
        background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
        opacity: 1;

}

.container_addAnotherChild{
    left: 50%;
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    margin-left: 35%;
}
.governessCode{
    text-align: left;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    
    font-size: larger;
}

.inputgovernessCode{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4.5vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.label_addAnotherChild{
    left: 50%;
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    margin-right: 0%;
    margin-left: 40%;
}

.inputChildNameAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 13%;
    width: 65%;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.ChildnameAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.IdAdd{
    top: 561px;
left: 929px;
width: 79px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.inputIdAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.addChildAdd{
    top: 764px;
left: 727px;
width: 467px;
height: 80px;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
width: 26.5%;
margin-right: 1%;

}

.labelbig{
text-align: left;
font: normal normal normal 45px/60px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.buttons_addAnotherChild{
    margin-top: 3%;
    margin-right: 3%;
}