.addanothrchild_div{
    width: 40%;
    height:48vh;
    top:10vh;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
opacity: 1;
margin-right: 25%;
}



.all_addAnotherChild{
    width:100%; 
    height:100%; 
    background: url('../image/backgroundYellow.png') top right;
    background-attachment:fixed;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.big{
    text-align: left;
    font: normal normal normal 45px/60px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;

}
.label_addAnotherChild{
  margin-left: 36.5%;
text-align: left;
font: normal normal normal 45px/60px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

/* .label_addAnotherChild{
    margin-left: 50%;
    margin-top: 5vh;
   margin-right:  25%;
    /* left: 25%; */
    /* display: flex;
    justify-content: 'center';
    align-items: 'center';
    
} */ 

.addAnotherChild_logo{
    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 103px;
        height: 112px;
        background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
        opacity: 1;

}

.container_addAnotherChild{
    left: 50%;
    display: flex;
    margin-top: 3vh;
    justify-content: space-between;
    margin-left: 35%;
    height: 50vh;
}
.governessCode{
    text-align: left;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    
    font-size: larger;
}

.inputgovernessCode{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4.5vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}



.inputChildNameAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 13vh;
    width: 65%;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.ChildnameAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.IdAdd{
    /* top: 561px;
left: 929px;
width: 79px;
height: 28px; */
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.inputIdAdd{
    margin: 4.6%;
    border-color: white;
    border-radius: 7%;
    height: 4vh;
    width: 20vw;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.addChildAdd{
    color: rgb(112, 109, 109);
    margin-right:4%;

width: 26%;
height: 11vh;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
border-radius: 1.5rem;
border-color: rgb(245, 219, 241);
font-size: 2rem ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
bottom: 5vh;
}

