.ca_all{
  width:100%; 
  height:100%; 
  background: #E6F8FF 0% 0% no-repeat padding-box;
  background-attachment:fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;


}

.category_logo{
       top: 1.5%;
       left: 1.5%;
      width: 103px;
      height: 20vh;
      background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
      opacity: 1;
      position: absolute;

}
.activityImg{
    width: 22%;
    height: 24vh;
  background: transparent url('../image/activity.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  opacity: 1;
  left: 20%;
top: 7vh;
  position: absolute;
  
}


.developmentImg{
  width: 22%;
  height: 24vh;
    background-size: contain;
  background: transparent url('../image/deverlopment.png') 0% 0% no-repeat padding-box;
  left: 40%;
  top: 7vh;
  position: absolute;
    opacity: 1;
    /* background-size :cover; */
}


.sleepImg{
  background: transparent url('../image/sleep.png') 0% 0% no-repeat padding-box;
  left: 60%;
  top: 7vh;
  position: absolute;
  width: 22%;
  height: 24vh;
    background-size: contain;
  opacity: 1
}


.foodImg{
  top: 7vh;
  position: absolute;
    background: transparent url('../image/eat.png') 0% 0% no-repeat padding-box;
 left: 80%;
 width: 22%;
 height: 24vh;
   background-size: contain;
  opacity: 1
}

.caBtn1{
 right: 12%;
  /* margin-right: 20%; */
bottom: 58vh;
  background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7%;
font-size: medium;
position: absolute;
border-color: #E6F8FF ;
 height: 3.5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(112, 109, 109);
}

.caBtn2{
  right: 31%;
  /* margin-right: 20%; */
bottom: 58vh;
  background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7%;
font-size: medium;
position: absolute;
border-color: #E6F8FF ;
height: 3.5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(112, 109, 109);
}

.caBtn3{
  left: 41%;
bottom: 58vh;
  background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7%;
font-size: medium;
position: absolute;
border-color: #E6F8FF ;
height: 3.5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(112, 109, 109);
}

.caBtn4{
  left: 21%;
  /* margin-right: 20%; */
bottom: 58vh;
  background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7%;
font-size: medium;
position: absolute;
border-color: #E6F8FF ;
height: 3.5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(112, 109, 109);
}

