.ca_all{
  width:100%; 
  height:100%; 
  background: #E6F8FF 0% 0% no-repeat padding-box;
  background-attachment:fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;


}

.category_logo{
  margin-top: 1.5%;
  margin-left: 1.5%;
      width: 103px;
      height: 112px;
      background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
      opacity: 1;
      position: absolute;

}
.activityImg{
    width: 50%;
    height: 70%;
  background: transparent url('../image/activity.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 20%;
margin-top: 5%;
  position: absolute;
  
}


.developmentImg{
    width: 50%;
    height: 70%;
  background: transparent url('../image/deverlopment.png') 0% 0% no-repeat padding-box;
  margin-left: 40%;
  margin-top: 5%;
  position: absolute;
    opacity: 1
  
}


.sleepImg{
  background: transparent url('../image/sleep.png') 0% 0% no-repeat padding-box;
  margin-left: 60%;
  margin-top: 5%;
  position: absolute;
    width: 50%;
  height: 70%;
  opacity: 1
}


.foodImg{
  margin-top: 5%;
  position: absolute;
    background: transparent url('../image/eat.png') 0% 0% no-repeat padding-box;
  margin-left: 80%;
  width: 50%;
  height: 70%;
  opacity: 1
}

.caBtn1{
  margin-left: 30%;
  /* margin-right: 20%; */
margin-top: 15%;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7vw;
font-size: medium;
position: absolute;
border-color: #E6F8FF ;
}

.caBtn2{
  position: absolute;
 margin-left: 11%;
margin-top: 15%;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7vw;
font-size: medium;
border-color: #E6F8FF ;

}

.caBtn3{
position: absolute;
margin-top: 15%;
/* margin-right: 10%; */
left: 40.5%;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width: 7vw;
font-size: medium;
border-color: #E6F8FF ;

}

.caBtn4{
  margin-right:53%;
margin-top:13%;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 2px 3px 6px #0000004F;
border-radius: 3.5rem;
opacity: 1;
width:7vw;
font-size: medium;
border-color: #E6F8FF ;

}

