.childimage{
    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 10vw;
        height: 20vh;
        background: transparent url('../image/baby.png') 0% 0% padding-box;
        opacity: 1;
        border: 0px ;
        border-radius: 5rem;
        /* border: solid 1px black; */
        /*object-fit:contain;*/
        background-size: cover;
}

.lchildimage{
    border-radius: 3rem;
    width: 8vw;
    height: 4vw;
   
}

.allBaby{
    /* border: solid 17px black; */
    width: 10vw;
    height: 30vh;
/* margin-top: 20%; */
margin-top: 12vh;
margin-left: 5vh;
margin-bottom: 5vh;

}

