.g_all{
width:100%; 
height:100vh; 
background: url('../image/backgroundPink.png') top right;
background-attachment:fixed;
background-size: cover;
overflow: hidden;
position: absolute;
display: flex;
flex-direction: row;
}

.mobileImg{
  width: 50%;
  height: 70vh;
background: transparent url('../image/mobile.png') 0% 0% no-repeat padding-box;
opacity: 1;
left: 25%;
right: 25%;
position: absolute;
background-size: cover;
}


.governessHomepage_logo{
    background-size: cover;

    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 103px;
        height: 112px;
        background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        
}
.bg1{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    left: 26.5%;
    bottom: 9.5vh;
    position: absolute;

}

.bg2{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom: 14vh;
    left: 45%;
    position: absolute;

}

.bg3{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom: 10vh;
    left: 63%;
    position: absolute;

}

.gHpBtn1{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 13vh;   
    left: 28%;
    position: absolute;
    color: rgb(112, 109, 109);

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.gHpBtn2{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 17vh;
    left: 46.6%;
    position: absolute;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.gHpBtn3{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 13vh;   
    left: 64.5%;
    position: absolute;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
