.all{
    top: 0px;
left: -1px;
width: 1921px;
height: 1080px;
background: transparent url('../image/backgroundYellow.png') 0% 0% no-repeat padding-box;
opacity: 0.78;
}

.logo{
    top: 32px;
    left: 53px;
    width: 103px;
    height: 112px;
    background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.loginDivG{
    top: 349px;
    left: 361px;
    width: 467px;
    height: 310px;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 36px;
    opacity: 1;
}
.loginG{
    top: 280px;
left: 425px;
width: 339px;
height: 60px;
text-align: left;
font: normal normal normal 45px/60px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.name{
    top: 402px;
    left: 538px;
    width: 113px;
    height: 28px;
    text-align: left;
    font: normal normal normal 21px/28px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.inputEmail{
    top: 430px;
    left: 433px;
    width: 324px;
    height: 39px;
/* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.password{
    top: 500px;
left: 564px;
width: 62px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}


.inputPassword{
    top: 535px;
    left: 433px;
    width: 324px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;   
}


.loginBtn{
    top: 709px;
left: 361px;
width: 467px;
height: 80px;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
}

.loginP{
    top: 280px;
left: 1095px;
width: 309px;
height: 60px;
text-align: left;
font: normal normal normal 45px/60px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.loginDivP{
    top: 349px;
left: 1016px;
width: 467px;
height: 310px;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
opacity: 1;
}

.emailP{
    top: 402px;
left: 1222px;
width: 56px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.emailInput{
    top: 430px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.passwordP{
    top: 500px;
left: 1219px;
width: 62px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.inputPassword{
    top: 535px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.loginBtnP{
    top: 709px;
left: 1016px;
width: 467px;
height: 80px;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
}
/* .div{
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

input{
    margin: 1rem;
    border-color: white;
    border-radius: 1.5rem;
    height: 1.35rem;
    width: 14rem;
}

button{
    height: 3.5rem;
    width: 20rem;
    background-color: rgb(245, 219, 241);
    border-radius: 1.5rem;
    border-color: rgb(245, 219, 241);
    font-size: 2rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 109, 109);

}

.all{
    background-image: url("../image/backgroundYellow.png");
    height: 60.5rem;
}

.big{
    font-size: 2rem ;
    color: rgb(112, 109, 109);

}

label{
    font-size: 1rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

img{
    height: 7rem;
    width: 7rem;
    position: absolute;

}
.back{
    height: 2rem;
    width: 15rem;
    font-size: 1rem ;
    position: absolute;
    right: 0;
    margin-top: 2rem;
    margin-right: 2rem;

}
.arrow{
    height:1.5rem;
    width: 1.5rem;
    left:0;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: space-between;
} */