.p_all{
    width:100%; 
height:100%; 
background: url('../image/backgroundPink.png') top right;
background-attachment:fixed;
overflow: hidden;
position: absolute;
display: flex;
flex-direction: row;
}

.parentsHomepage_logo{
    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 103px;
        height: 112px;
        background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
        opacity: 1;
}

.patentsmobileImg{
    width: 50%;
    height: 70vh;
    background: transparent url('../image/mobile2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 25%;
    margin-right: 25%;
    position: absolute;
    background-size: 100%;
}

.bp1{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom: 9.5vh;
    left: 24%;
    position: absolute;

}

.bp2{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom:16vh;
    left: 37.5%;
    position: absolute;

}

.bp3{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom: 9.5vh;
    left:50%;
    position: absolute;

}

.bp4{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 8%;
    height: 16vh;
    border: solid 17px black;
    bottom:16vh;
    left: 65.5%;
    position: absolute;

}

.pHpBtn1{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 13.5vh; 
    left: 25.5%;
    position: absolute;
    color: rgb(112, 109, 109);

}

.pHpBtn2{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 19vh; 
    left: 39%;
    position: absolute;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pHpBtn3{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 13.5vh; 
    left: 51.5%;
    position: absolute;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pHpBtn4{
    background: #E6F8FF 0% 0% no-repeat padding-box;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 15rem;
    width: 7%;
    height: 14vh;
    bottom: 18.5vh; 
    left: 67%;
    position: absolute;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.addNewChildren{
    border-radius: 15rem;
    background: #E6F8FF 0% 0% no-repeat padding-box;
    width: 15%;
    height:6vh;
    border: solid 0px white;
    bottom: 8vh; 
    left: 4%;
    position: absolute;
    font-size: 1.2rem;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.backToHome{
    /* background: transparent url('../image/arrow.png') 0% 0% no-repeat padding-box; */
    border-radius: 15rem;
    background: #ffe6f3 0% 0% no-repeat padding-box;
    width: 15%;
    height:6vh;
    border: solid 0px white;
    top: 2%;
    /* left:85% ;    */
    right: 5%;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(112, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pforback{
    background: transparent url('../image/new.png') 0% 0% no-repeat padding-box !important;
    /* background-size: cover !important; */
    width:18%;
    height:5vh;
    border: solid 0px #ffe6f3 ;
    display: inline;
    margin-right: 0.5rem;
   /* height:2.5vh ;
   width: 2.5%; */
}
