.allS{
width:100%; 
height:100%; 
background: url('../image/backgroundYellow.png') top right;
background-attachment:fixed;
background-size: cover;
overflow: hidden;
position: relative;
}

.signup_logo{
    margin-top: 1.5%;
    margin-left: 1.5%;
        width: 103px;
        height: 112px;
        background: transparent url('../image/logo.png') 0% 0% no-repeat padding-box;
        opacity: 1;
    }

.signUpLabel_G{

text-align: left;
font: normal normal normal 45px/60px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.signUpLabel_P{
    text-align: left;
    font: normal normal normal 45px/60px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.labels{
    left: 50%;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 25%;
}


.userNameS{
    top: 266px;
left: 538px;
width: 113px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.userNameInputS{
    top: 294px;
left: 433px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.passwordS{
    top: 364px;
left: 564px;
width: 62px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.passwordInputS{
    top: 399px;
left: 433px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.signUpBtnGS{
    top: 820px;
left: 361px;
width: 467px;
height: 80px;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
}



.signup2{
    width: 40%;
height: 110%;
background: #E6F8FF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
opacity: 1;

}
.signUp{

    width: 40%;
   height: 300%;
   background: #E6F8FF 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 36px;
   opacity: 1;
}

.userNamePS{
    top: 266px;
left: 1222px;
width: 56px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.userNameInputPS{
    top: 294px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.passwordPS{
    top: 364px;
left: 1219px;
width: 62px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.passwordInputPS{
    top: 399px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.govCodeS{
    top: 462px;
left: 1198px;
width: 103px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.govCodeInputS{
    top: 498px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.childNameS{
    top: 559px;
    left: 1211px;
    width: 78px;
    height: 28px;
    text-align: left;
    font: normal normal normal 21px/28px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.childNameInputS{
    top: 596px;
    left: 1088px;
    width: 324px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.childIdS{
    top: 667px;
left: 1210px;
width: 79px;
height: 28px;
text-align: left;
font: normal normal normal 21px/28px Segoe UI;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.childIdInputS{
    top: 695px;
left: 1088px;
width: 324px;
height: 39px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.signUpBtnPS{
    top: 820px;
left: 1016px;
width: 467px;
height: 80px;
background: #FFE6F3 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 23px;
opacity: 1;
}
 
.containerS{
    
    left: 50%;
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
}


.buttons{
    
    left: 50%;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
}

    
